/* line 1, main.scss */
.box {
  width: 100%;
  height: 10px;
}

/* line 7, main.scss */
.bandmember.thom {
  background: url("images/thom.jpg");
}

/* line 7, main.scss */
.bandmember.jonny {
  background: url("images/jonny.jpg");
}

/* line 7, main.scss */
.bandmember.colin {
  background: url("images/colin.jpg");
}

/* line 7, main.scss */
.bandmember.phil {
  background: url("images/phil.jpg");
}

/* line 14, main.scss */
.box:nth-child(1) {
  background: #fcfcfc;
}

/* line 14, main.scss */
.box:nth-child(2) {
  background: #fafafa;
}

/* line 14, main.scss */
.box:nth-child(3) {
  background: #f7f7f7;
}

/* line 14, main.scss */
.box:nth-child(4) {
  background: whitesmoke;
}

/* line 14, main.scss */
.box:nth-child(5) {
  background: #f2f2f2;
}

/* line 14, main.scss */
.box:nth-child(6) {
  background: #f0f0f0;
}

/* line 14, main.scss */
.box:nth-child(7) {
  background: #ededed;
}

/* line 14, main.scss */
.box:nth-child(8) {
  background: #ebebeb;
}

/* line 14, main.scss */
.box:nth-child(9) {
  background: #e8e8e8;
}

/* line 14, main.scss */
.box:nth-child(10) {
  background: #e6e6e6;
}

/* line 14, main.scss */
.box:nth-child(11) {
  background: #e3e3e3;
}

/* line 14, main.scss */
.box:nth-child(12) {
  background: #e0e0e0;
}

/* line 14, main.scss */
.box:nth-child(13) {
  background: #dedede;
}

/* line 14, main.scss */
.box:nth-child(14) {
  background: #dbdbdb;
}

/* line 14, main.scss */
.box:nth-child(15) {
  background: #d9d9d9;
}

/* line 14, main.scss */
.box:nth-child(16) {
  background: #d6d6d6;
}

/* line 14, main.scss */
.box:nth-child(17) {
  background: #d4d4d4;
}

/* line 14, main.scss */
.box:nth-child(18) {
  background: #d1d1d1;
}

/* line 14, main.scss */
.box:nth-child(19) {
  background: #cfcfcf;
}

/* line 14, main.scss */
.box:nth-child(20) {
  background: #cccccc;
}

/* line 14, main.scss */
.box:nth-child(21) {
  background: #c9c9c9;
}

/* line 14, main.scss */
.box:nth-child(22) {
  background: #c7c7c7;
}

/* line 14, main.scss */
.box:nth-child(23) {
  background: #c4c4c4;
}

/* line 14, main.scss */
.box:nth-child(24) {
  background: #c2c2c2;
}

/* line 14, main.scss */
.box:nth-child(25) {
  background: #bfbfbf;
}

/* line 14, main.scss */
.box:nth-child(26) {
  background: #bdbdbd;
}

/* line 14, main.scss */
.box:nth-child(27) {
  background: #bababa;
}

/* line 14, main.scss */
.box:nth-child(28) {
  background: #b8b8b8;
}

/* line 14, main.scss */
.box:nth-child(29) {
  background: #b5b5b5;
}

/* line 14, main.scss */
.box:nth-child(30) {
  background: #b3b3b3;
}

/* line 14, main.scss */
.box:nth-child(31) {
  background: #b0b0b0;
}

/* line 14, main.scss */
.box:nth-child(32) {
  background: #adadad;
}

/* line 14, main.scss */
.box:nth-child(33) {
  background: #ababab;
}

/* line 14, main.scss */
.box:nth-child(34) {
  background: #a8a8a8;
}

/* line 14, main.scss */
.box:nth-child(35) {
  background: #a6a6a6;
}

/* line 14, main.scss */
.box:nth-child(36) {
  background: #a3a3a3;
}

/* line 14, main.scss */
.box:nth-child(37) {
  background: #a1a1a1;
}

/* line 14, main.scss */
.box:nth-child(38) {
  background: #9e9e9e;
}

/* line 14, main.scss */
.box:nth-child(39) {
  background: #9c9c9c;
}

/* line 14, main.scss */
.box:nth-child(40) {
  background: #999999;
}

/* line 14, main.scss */
.box:nth-child(41) {
  background: #969696;
}

/* line 14, main.scss */
.box:nth-child(42) {
  background: #949494;
}

/* line 14, main.scss */
.box:nth-child(43) {
  background: #919191;
}

/* line 14, main.scss */
.box:nth-child(44) {
  background: #8f8f8f;
}

/* line 14, main.scss */
.box:nth-child(45) {
  background: #8c8c8c;
}

/* line 14, main.scss */
.box:nth-child(46) {
  background: #8a8a8a;
}

/* line 14, main.scss */
.box:nth-child(47) {
  background: #878787;
}

/* line 14, main.scss */
.box:nth-child(48) {
  background: #858585;
}

/* line 14, main.scss */
.box:nth-child(49) {
  background: #828282;
}

/* line 14, main.scss */
.box:nth-child(50) {
  background: gray;
}

/* line 14, main.scss */
.box:nth-child(51) {
  background: #7d7d7d;
}

/* line 14, main.scss */
.box:nth-child(52) {
  background: #7a7a7a;
}

/* line 14, main.scss */
.box:nth-child(53) {
  background: #787878;
}

/* line 14, main.scss */
.box:nth-child(54) {
  background: #757575;
}

/* line 14, main.scss */
.box:nth-child(55) {
  background: #737373;
}

/* line 14, main.scss */
.box:nth-child(56) {
  background: #707070;
}

/* line 14, main.scss */
.box:nth-child(57) {
  background: #6e6e6e;
}

/* line 14, main.scss */
.box:nth-child(58) {
  background: #6b6b6b;
}

/* line 14, main.scss */
.box:nth-child(59) {
  background: dimgrey;
}

/* line 14, main.scss */
.box:nth-child(60) {
  background: #666666;
}

/* line 14, main.scss */
.box:nth-child(61) {
  background: #636363;
}

/* line 14, main.scss */
.box:nth-child(62) {
  background: #616161;
}

/* line 14, main.scss */
.box:nth-child(63) {
  background: #5e5e5e;
}

/* line 14, main.scss */
.box:nth-child(64) {
  background: #5c5c5c;
}

/* line 14, main.scss */
.box:nth-child(65) {
  background: #595959;
}

/* line 14, main.scss */
.box:nth-child(66) {
  background: #575757;
}

/* line 14, main.scss */
.box:nth-child(67) {
  background: #545454;
}

/* line 14, main.scss */
.box:nth-child(68) {
  background: #525252;
}

/* line 14, main.scss */
.box:nth-child(69) {
  background: #4f4f4f;
}

/* line 14, main.scss */
.box:nth-child(70) {
  background: #4d4d4d;
}

/* line 14, main.scss */
.box:nth-child(71) {
  background: #4a4a4a;
}

/* line 14, main.scss */
.box:nth-child(72) {
  background: #474747;
}

/* line 14, main.scss */
.box:nth-child(73) {
  background: #454545;
}

/* line 14, main.scss */
.box:nth-child(74) {
  background: #424242;
}

/* line 14, main.scss */
.box:nth-child(75) {
  background: #404040;
}

/* line 14, main.scss */
.box:nth-child(76) {
  background: #3d3d3d;
}

/* line 14, main.scss */
.box:nth-child(77) {
  background: #3b3b3b;
}

/* line 14, main.scss */
.box:nth-child(78) {
  background: #383838;
}

/* line 14, main.scss */
.box:nth-child(79) {
  background: #363636;
}

/* line 14, main.scss */
.box:nth-child(80) {
  background: #333333;
}

/* line 14, main.scss */
.box:nth-child(81) {
  background: #303030;
}

/* line 14, main.scss */
.box:nth-child(82) {
  background: #2e2e2e;
}

/* line 14, main.scss */
.box:nth-child(83) {
  background: #2b2b2b;
}

/* line 14, main.scss */
.box:nth-child(84) {
  background: #292929;
}

/* line 14, main.scss */
.box:nth-child(85) {
  background: #262626;
}

/* line 14, main.scss */
.box:nth-child(86) {
  background: #242424;
}

/* line 14, main.scss */
.box:nth-child(87) {
  background: #212121;
}

/* line 14, main.scss */
.box:nth-child(88) {
  background: #1f1f1f;
}

/* line 14, main.scss */
.box:nth-child(89) {
  background: #1c1c1c;
}

/* line 14, main.scss */
.box:nth-child(90) {
  background: #1a1a1a;
}

/* line 14, main.scss */
.box:nth-child(91) {
  background: #171717;
}

/* line 14, main.scss */
.box:nth-child(92) {
  background: #141414;
}

/* line 14, main.scss */
.box:nth-child(93) {
  background: #121212;
}

/* line 14, main.scss */
.box:nth-child(94) {
  background: #0f0f0f;
}

/* line 14, main.scss */
.box:nth-child(95) {
  background: #0d0d0d;
}

/* line 14, main.scss */
.box:nth-child(96) {
  background: #0a0a0a;
}

/* line 14, main.scss */
.box:nth-child(97) {
  background: #080808;
}

/* line 14, main.scss */
.box:nth-child(98) {
  background: #050505;
}

/* line 14, main.scss */
.box:nth-child(99) {
  background: #030303;
}

/* line 14, main.scss */
.box:nth-child(100) {
  background: black;
}
